<h3>About Nereid</h3>
<p>
  Nereid is a web development framework for Python based on Tryton.
</p>
<h3>Other Formats</h3>
<p>
  You can download the documentation in other formats as well:
</p>
<ul>
  <li><a href="https://nereid.m9s.biz/docs/nereid-docs.zip">as zipped HTML</a>
  <li><a href="https://nereid.m9s.biz/docs/nereid-docs.epub">as ePub</a>
</ul>
<h3>Useful Links</h3>
<ul>
  <li><a href="https://pypi.org/project/m9s-nereid/">Nereid @ PyPI</a></li>
  <li><a href="https://gitlab.com/m9s/nereid">Nereid @ gitlab</a></li>
  <li><a href="https://codeberg.org/MBSolutions/nereid">Nereid @ codeberg</a></li>
  <li><a href="https://gitlab.com/m9s/nereid/-/issues">Issue Tracker</a></li>
  <li><a href="https://www.m9s.biz/">The MBSolutions Website</a></li>
</ul>
